<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springforum.dao.TabMapper" >

    <resultMap id="BaseResultMap" type="com.springforum.domain.Tab" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tab_name" property="tabName" jdbcType="VARCHAR" />
        <result column="tab_name_en" property="tabNameEn" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getTabNum" resultType="java.lang.Integer" >
        select
        COUNT(*)
        from tab
      </select>

    <resultMap id="AdvanceResultMap" type="com.springforum.domain.Tab" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tab_name" property="tabName" jdbcType="VARCHAR" />
        <result column="tab_name_en" property="tabNameEn" jdbcType="VARCHAR" />
        <result column="dcount" javaType="java.lang.Integer" property="dcount" />
    </resultMap>
    <!--    <resultMap id="AllResultMap" type="com.springforum.domain.Tab" extends="BaseResultMap">-->
    <!--        <result javaType="java.lang.Integer" property="dcount" />-->
    <!--    </resultMap>-->

    <sql id="Base_Column_List" >
        id, tab_name,tab_name_en
    </sql>

    <select id="getAllTabsWithNum" resultMap="AdvanceResultMap" parameterType="java.lang.Integer">
        SELECT
            d.id,
            d.tab_name,
            d.tab_name_en,
            IFNULL(t1.count1, 0) AS dcount
        FROM
            tab d
                LEFT JOIN
            (SELECT tab_id,COUNT(*) AS count1 FROM topic  GROUP BY tab_id) t1
            ON d.id = t1.tab_id ORDER BY d.id;
    </select>

    <select id="getAllTabs" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from tab
    ORDER BY id ASC
  </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tab
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getByTabNameEn" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from tab
        where tab_name_en = #{tabNameEn,jdbcType=VARCHAR}
    </select>

    <select id="getByTabId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tab
        where id = #{id, jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.springforum.domain.Tab" >
    insert into tab (id, tab_name)
    values (#{id,jdbcType=INTEGER}, #{tabName,jdbcType=INTEGER})
  </insert>
    <insert id="insertOne" parameterType="com.springforum.domain.Tab">
        insert into tab (tab_name, tab_name_en)
        values (#{tabName, jdbcType=VARCHAR}, #{tabNameEn, jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.springforum.domain.Tab" >
        insert into tab
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="tabName != null" >
                tab_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tabName != null" >
                #{tabName,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.springforum.domain.Tab" >
        update tab
        <set >
            <if test="tabName != null" >
                tab_name = #{tabName,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.springforum.domain.Tab" >
    update tab
    set tab_name = #{tabName,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>