<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springforum.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.springforum.domain.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="credit" property="credit" jdbcType="INTEGER" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="role_id" property="role_id" jdbcType="INTEGER" />
    </resultMap>

    <!-- 最多积分用户列表 -->
    <resultMap id="HotestUsers" type="com.springforum.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="credit" property="credit" jdbcType="INTEGER" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 最新用户列表 -->
    <resultMap id="NewUsers" type="com.springforum.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
                id, username, password, email, phone_num, create_time, update_time, credit, avatar,
                role_id
    </sql>

    <select id="listNewUsers" resultMap="NewUsers">
        SELECT id,avatar,create_time from user order by create_time desc limit 10;
    </select>

    <select id="listHotestUsers" resultMap="HotestUsers">
        SELECT id,avatar,credit from user order by credit desc limit 10;
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        id, username, password, email, phone_num, create_time, update_time, credit, avatar, role_id
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAllUsers" resultMap="BaseResultMap">
        select *
        from user
    </select>

    <select id="getUserCount" resultType="java.lang.Integer" >
        select
            count(*)
        from user
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectByEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where email=#{email, jdbcType=VARCHAR}
    </select>

    <select id="existUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) from user where username = #{username,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="addUser" parameterType="com.springforum.domain.User" >
        insert into user (username, password,
                          email, phone_num, create_time,
                          update_time, credit,
                          role_id ,avatar)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{credit,jdbcType=INTEGER},
                #{role_id,jdbcType=INTEGER},#{avatar,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.springforum.domain.User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="phoneNum != null" >
                phone_num,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="credit != null" >
                credit,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="role_id != null" >
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null" >
                #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="credit != null" >
                #{credit,jdbcType=INTEGER},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="role_id != null" >
                #{role_id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.springforum.domain.User" >
        update user
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null" >
                phone_num = #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="credit != null" >
                credit = #{credit,jdbcType=INTEGER},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="role_id != null" >
                role_id = #{role_id,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.springforum.domain.User" >
        update user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            phone_num = #{phoneNum,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            credit = #{credit,jdbcType=INTEGER},
            avatar = #{avatar,jdbcType=VARCHAR},
            role_id = #{role_id,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="addCredit">
        update user set credit = credit + #{points,jdbcType=INTEGER} WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>